<<<<<<< HEAD
#plateau{
  height: 400px;
  background: blue;
}
=======
>>>>>>> origin/master
#carte{
  height: 250px;
  background: red;
}
<<<<<<< HEAD
=======
#droppable { height: 400px; background: blue;}
>>>>>>> origin/master
#draggable { width: 70px; height: 130px; padding: 0.5em; }
#draggable2 { width: 70px; height: 130px; padding: 0.5em; }
#draggable3 { width: 70px; height: 130px; padding: 0.5em; }
