html,
body {
    min-height: 100vh;
    min-width: 100vh;
    overflow: visible;
}

.css{
  background-color: purple;
}

.dropzone {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 70vh;
}

#cards {
  height: 30vh;
  width: 100%;
  background-color: black;
}

#cards img {
  height:100%;
}
